.row{
    padding: 20px;
}
div{
    background-color: mediumturquoise;
    text-align: center;
}
/*Foto de Perfil*/
@media (min-width:576px){
#FotodePerfil {
    border-radius: 100%;
    box-shadow: 3px 3px 3px gray;
}

@media (min-width: 576px) {
    #FotodePerfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 2%;
        top: 600px;
    }
}
}
@media (max-width: 1700px) {
    #FotodePerfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 2%;
        top: 430px;
    }
}
@media (min-width: 1700px) {
    #FotodePerfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 2%;
        top: 430px;
    }
}
/*etiqueta de nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}

